body {
}
.lead {
    font-size: 20px;    
}

#main, #vrp-map-wrapper {
    margin: auto; 
    width: 1000px;
}

#main li {
    line-height: 22px;    
}

a {
    text-decoration: none;
    color: #3872f2;    
}
a:hover {
    color: #3091f7;
}

#button-list {
    padding: 10px;
}

#button-list button, #example-list button {
    margin: 5px;
}

#example-list {
    float: left;
    max-width: 190px;    
    margin-top: 10px;    
}

#vrp-map {
    float: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -37px;
    font-size: 12px;
    width: 25px;
    text-align: center;
}

#enter_key {
    padding-top: 10px;
    float: right
}
#custom_key_input {
    width: 340px;
}
#custom_key_enabled {
    margin-bottom: -5px;
}

#vrp-error {
    color: red;
    font-weight: bold;
}

#vrp-error, #vrp-response {
    padding: 10px;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

#custom_key_desc li {    
    list-style-type: none;
    padding-right: 20px;
}

#logo {
    padding-bottom: 20px;
}

#get_key_link {
    padding: 5px;
}

#instructions-header {
    padding: 10px;
}

#instructions {
    font-size: small;
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.small {
    font-size: small;
}

#mynavigation {
    border-top-color: white;
    background-color: white;
    margin-bottom: 0px;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
    border-radius: 4px;
    font-size: 0;
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
}

#mynavigation li a {
    color: black;
}

#mynavigation li:first-child {
    border-left: medium none;
    border-radius: 4px 0 0 4px;
}
#mynavigation li {
}
#mynavigation li {
    border-left: 1px solid #ddd;
    border-right: 1px solid #888;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding-left: 1.1em;
    padding-right: 1.1em;    
    padding-bottom: 0.2em;
    text-shadow: 0 1px 1px #f7f7f7;
}
#mynavigation {
    list-style-type: none;
}

#mynavigation .current { 
    border-bottom: 3px inset black;    
}

#geocoding-map {
    margin-top: 10px;
}