body {
}
.lead {
    font-size: 20px;    
}

#main {
    margin: auto; 
    width: 800px;
}

#main li {
    line-height: 22px;    
}

a {
    text-decoration: none;
    color: #3872f2;    
}
a:hover {
    color: #3091f7;
}

#button-list, #example-list {
    padding: 10px;
}

#button-list button, #example-list button {
    margin: 5px;
}

#example-list {
    float: left;
    width: 200px;
    height: 100px;
    overflow: auto;
    margin: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -37px;
    font-size: 12px;
    width: 25px;
    text-align: center;
}

#enter_key {
    padding-top: 10px;
    float: right
}
#custom_key_input {
    width: 340px;
}
#custom_key_enabled {
    margin-bottom: -5px;
}

#vrp-error {
    color: red;
    font-weight: bold;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.horizontal li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#logo {
    padding-bottom: 20px;
}

#get_key_link {
    padding: 5px;
    float: right;
}

#instructions-header {
    padding: 10px;
}

#instructions {
    font-size: small;
}

.tabs-menu .current {
    font-weight: bold;
}

.tab-content {
    
}